[Unit]
Description=Tailscale System Tray
Documentation=https://tailscale.com/kb/1597/linux-systray
Requires=dbus.service
After=dbus.service
PartOf=default.target

[Service]
Type=simple
ExecStart=/usr/bin/tailscale systray

[Install]
WantedBy=default.target
