# Binaries for programs and plugins
*~
*.tmp
*.exe
*.dll
*.so
*.dylib
*.spk

cmd/tailscale/tailscale
cmd/tailscaled/tailscaled

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# direnv config, this may be different for other people so it's probably safer
# to make this nonspecific.
.envrc

# Ignore personal VS Code settings
.vscode/

# Support personal project-specific GOPATH
.gopath/

# Ignore nix build result path
/result

# Ignore direnv nix-shell environment cache
.direnv/

# Ignore web client node modules
.vite/
client/web/node_modules
client/web/build/assets

/gocross
/dist
