name: "Dockerfile build"
on: 
  push:
    branches:
    - main
  pull_request:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: "Build Docker image"
      run: docker build .
