name: go generate

on:
  push:
    branches:
      - main
      - "release-branch/*"
  pull_request:
    branches:
      - "*"

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2.1.5
        with:
          go-version: 1.17

      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: check 'go generate' is clean
        run: |
          if [[ "${{github.ref}}" == release-branch/* ]]
          then
            pkgs=$(go list ./... | grep -v dnsfallback)
          else
            pkgs=$(go list ./... | grep -v dnsfallback)
          fi
          go generate $pkgs
          echo
          echo
          git diff --name-only --exit-code || (echo "The files above need updating. Please run 'go generate'."; exit 1)
